<div class="panel-heading">
    <h1 class="panel-title">{{ movie.original_title }}</h1>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ movie.poster_path }}" class="img-responsive center-block">
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Outline:</strong>
                    <p>{{ movie.overview }}</p>
                </li>
                <li class="list-group-item">
                    <strong>Release Date:</strong> {{ movie.release_date | date }}
                </li>
                <li class="list-group-item">
                    <strong>Original Language:</strong> {{ movie.original_language }}
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-default" ng-click="reset()">Back</button>
                </li>
            </ul>
        </div>
    </div>
</div>
