<div class="panel-heading">
    <h1 class="panel-title">{{ movie.title }}</h1>
</div>
<div class="panel-body bs-component">
    <div class="row">
        <div class="col-md-6">
            <img class="img-thumbnail" src="{{ movie.poster_path }}" class="img-responsive center-block">
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" ng-hide="movie.overview === ''">
                    <h5 class="list-group-item-heading"><strong>Outline</strong></h5>
                    <p class="list-group-item-text">{{ movie.overview }}</p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading"><strong>Release Date</strong></h5>
                    <p class="list-group-item-text">{{ movie.release_date | date }}</p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading"><strong>Original Language</strong></h5>
                    <p class="list-group-item-text">{{ movie.original_language }}</p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading"><strong>Genres</strong></h5>
                    <p class="list-group-item-text">{{ movie.genre_ids }}</p>
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-default" ng-click="reset()">Back</button>
                </li>
            </ul>
        </div>
    </div>
</div>
