.animated-container {
    position:relative;
}

.animation {
    overflow-y: hidden;
}

.animation.ng-enter, .animation.ng-leave {
    position:absolute;
    top:0;
    left:0;
    right:0;
}

.animation.ng-enter {
    -webkit-transition: 1.5s ease all;
    max-height: 0px;
}
.animation.ng-enter.ng-enter-active {
    max-height: 1000px;
}

.animation.ng-leave {
    transition: 0.5s ease all;
    opacity: 1;
}
.animation.ng-leave.ng-leave-active {
    opacity: 0;
}
