<!DOCTYPE html>
<html ng-app="randomMovieFinder">
    <head>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="transitions.css" />
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h3 class="text-muted">Random Movie Finder</h3>
            </div>

            <div class="animated-container">
                <div class="panel panel-default animation" ng-view></div>
            </div>
        </div>
    </body>
</html>
