<!DOCTYPE html>
<html ng-app="whatMovie">
    <head>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h3 class="text-muted">WhatMovie</h3>
            </div>

            <div class="jumbotron">
                <h3>Can't decide on what movie to watch?</h3>
                <p>Show WhatMovie what you're looking for and let it find one for you.</p>
            </div>

            <div class="span12" ng-view></div>
        </div>
    </body>
</html>
