.animated-container {
    position:relative;
}
.animation.ng-enter, .animation.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;

    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.animation.ng-enter {
    z-index:100;
    top:600px;
    opacity:0;
}
.animation.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
}

.animation.ng-leave {
    z-index:101;
    top:0;
    opacity:1;
}
.animation.ng-leave.ng-leave-active {
    top:-600px;
    opacity:0;
}

